#map {
  width: 960px;
  height: 500px;
}

svg {
/*border: 1px #000 solid;*/	
fill: #FFF;
}

path {
  fill: #000;
  fill-opacity: .75;
  stroke: #FFF;
  stroke-width: 1px;
}

/*.q0-9 { fill:rgb(229,255,199); }
.q1-9 { fill:rgb(217,252,185); }
.q2-9 { fill:rgb(187,239,142); }
.q3-9 { fill:rgb(154,211,99); }
.q4-9 { fill:rgb(110,180,63); }*/

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }