body, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.nav > li.disabled.nav-header > a {
  cursor: default;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px !important;
  color: #000;
}

.align-right { text-align: right; }
.align-left { text-align: left; }

.posrel { position: relative; }
.posabs { position: absolute; }
.posfixed { position: fixed; }
/* navbar */
.navbar {
  margin-bottom: 0px;
  padding-right: 15px;
}
.navbar-brand img {
  width: 80px;
}
#nav-panel {
  background-color: #f8f8f8;
  width: 300px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
#nav-panel h4 {
  padding-left: 10px;
  padding-right: 15px;
}
.nav-pills > li > a {
  border-radius: 0px;
  color: #444;
  background-color: #F0F4F8;
}
.nav-pills > li > a:hover {
  background-color: #D8DCE2
}
.nav-pills > li.selected > a {
  background-color: #C6CEDA;
  color: #000;
}
#main-container {
  top: 0px;
  left: 0px;
  background-color: #FFF;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px #CCC;
  -moz-box-shadow: 0px 0px 15px #CCC;
  box-shadow: 0px 0px 15px #CCC;
  overflow-x:hidden;
}
#content-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}
.menu-toggle {
  cursor: pointer;
  left: 0px;
  top: 25px;
  padding: 10px;
  background-color: #ccc;
  z-index: 5;
}

/* map */
svg {
  fill: #FFF;
}

path.nbhd {
  cursor: pointer;
  fill: #ccc;
  fill-opacity: .75;
  stroke: #FFF;
  stroke-width: 1px;
}
path.nbhd:hover {
  stroke: #444;
}
path.nbhd.active {
  stroke: #077CA8;
  stroke-width: 2px;
}
circle.school {
  cursor: pointer;
  fill-opacity: 0.5;
  /*fill: #000099;*/
}

circle.charter {
  fill: #900;
}

circle.public {
  fill: #009;
}

circle.school:hover {
  fill-opacity: 1;
}

/* UI */

#nav-panel {
  height: 600px;
  overflow: scroll;
}

#nav-panel .nav > li > a {
  padding: 5px 10px;
}

#details {
  position:absolute;
  width:300px;
  top:20px;
  right:20px;
}

#details {
  position:absolute;
  width:300px;
  top:20px;
  right:20px;
}

#schools_panel {
  position:absolute;
  width:300px;
  top:20px;
  right:330px;
}

p.lead {
  text-align: center;
}

/*span#visualized-metric,
span#visualized-measure {
  display:none;
}*/

span#visualized-metric {
  font-weight:bold;
}

#source {
  position:absolute;
  width:120px;
  bottom:20px;
  left:0;
  padding: 10px 10px 10px 20px;
  background-color: #ccc;
  z-index: 5;
}

div#legend-panel {
  position:absolute;
  bottom:200px;
  left:20px;
  width: 200px;
  height: 200px;
}

.legendStep {
  width:100%;
  height: 25px;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
  font-size: 12px;
}

.stepOne { background: #e5ffc7;}
.stepTwo { background: #d9fcb9;}
.stepThree { background: #bbef8e;}
.stepFour { background: #9ad363;}
.stepFive { background: #6eb43f;}


h4.school-name {
  cursor: pointer;
}

/* Chart */
.label {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 14px;
  font-weight: normal;
  fill: black;
}
.link { 
  stroke:gray;
  stroke-width:0.5
}

/* Google Maps */

.stations, .stations svg.marker {
  position: absolute;
}

.stations svg.marker {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}

#theSVGLayer {
  position: absolute;
  top: -4000px;
  left: -4000px;
  width: 8000px;
  height: 8000px;
}

#theDiv {
  top: 0;
  left: 0;
}

 .btn-panel-close {
  float: right;
  margin: 5px;
  border: none;
  color: #fff;
}
