#map {
  width: 960px;
  height: 500px;
}

svg {
/*border: 1px #000 solid;*/	
fill: #FFF;
}

path {
  fill: #000;
  fill-opacity: .2;
  stroke: #FFF;
  stroke-width: 1px;
}

.q0-9 { fill:rgb(229,255,199); }
.q1-9 { fill:rgb(217,252,185); }
.q2-9 { fill:rgb(187,239,142); }
.q3-9 { fill:rgb(154,211,99); }
.q4-9 { fill:rgb(110,180,63); }

